body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(image/violet-evergarden-in-moonlit-repose-1239824903390363708.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family:"Nunito", sans-serif;
}

#container #myH1{
    color: rgb(126, 117, 22);
    font-size: 6rem;
}

#container{
    text-align: center;
}

#container #display{
    backdrop-filter: blur(10px);
    font-size: 5.5rem;
    color: hsl(210, 100%, 50%);
    text-shadow: 2px 2px 5px hsl(210, 100%, 50%);
    padding: 10px;
    border-radius: 50px;
    margin: 20px;
}

#container .button{
    font-family: "Nunito", sans-serif;
    border: none;
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#start{
    background-color: hsl(120, 70%, 40%);
}

#start:hover{
    background-color: hsl(120, 70%, 30%);
}
#stop{
    background-color: hsl(0, 70%, 40%);
}

#stop:hover{
    background-color: hsl(0, 70%, 30%);
}
#reset{
    background-color: hsl(184, 70%, 40%);
}

#reset:hover{
    background-color: hsl(184, 70%, 30%);
}