body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(image/violet-evergarden-in-moonlit-repose-1239824903390363708.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

#container #myH1 {
    color: hsl(51, 100%, 65%);
    margin: 5px;
    font-size: 50px;
}

#container {
    margin-bottom: 50px;
    margin-left: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 5px black;
    width: 450px;
    height: 250px;
    border-radius: 50px;
}

#container #displayClock {
    font-size: 60px;
    margin: -10px 5px 5px 5px;
    color: hsl(210, 100%, 65%);
}

#container #displayDate {
    font-size: 20px;
    margin: 5px;
    color: hsl(210, 100%, 65%);
}

@media (max-width: 768px) {
    body {
        background-size: center;
        background-position: 30% center;
    }

    #container {
        margin-top: 350px;
        margin-left: 0px;
    }
}