body{
    display: grid;
    grid-template-columns:  100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    height: 100vh;
    background-image: url(image/violet-evergarden-in-moonlit-repose-1239824903390363708.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    font-family:"Nunito", sans-serif;
}

#container #myH1{
    color: rgb(126, 117, 22);
    margin: 5px;
    font-size: 50px;
}

#container{
    grid-column: 8/10;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 5px black;
    width: 450px;
    height: 250px;
    border-radius: 50px;
}

#container #display{
    font-size: 50px;
    margin: 5px;
    color: hsl(210, 100%, 50%);
}

#container .button{
    font-family: "Nunito", sans-serif;
    border: none;
    margin: 5px 5px 0 5px;
    padding: 15px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#start{
    background-color: hsl(120, 70%, 40%);
}

#start:hover{
    background-color: hsl(120, 70%, 30%);
}
#stop{
    background-color: hsl(0, 70%, 40%);
}

#stop:hover{
    background-color: hsl(0, 70%, 30%);
}
#reset{
    background-color: hsl(184, 70%, 40%);
}

#reset:hover{
    background-color: hsl(184, 70%, 30%);
}